<div class="background-container">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-4">Tápanyag hatóanyag számoló</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">

          <div class="tab-content">
            <div id="nav-tab-card" class="tab-pane fade show active">
              <p *ngIf="displayError" class="alert alert-danger">{{errorMessage}}</p>
              <form role="form" [formGroup]="myForm">
                <div class="form-group">
                  <label for="year">Gazdálkodási év</label>
                  <select formControlName="year" id="year" class="form-select">
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="tableName">Tábla elnevezése</label>
                  <input formControlName="tableName" id="tableName" type="text" required class="form-control">
                </div>
                <div class="form-group">
                  <label for="plantName">Termesztett növény</label>
                  <select formControlName="plantName" id="plantName" class="form-select">
                    <option *ngFor="let plant of plants" [value]="plant">{{ plant }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="projectedReturn">Tervezett hozam</label>
                  <input formControlName="projectedReturn" id="projectedReturn" (blur)="checkProjectedReturnValue()" type="text" min="2.5" max="25.0" step="0.1" pattern="^\d+(\.\d)?$" required class="form-control">
                </div>
                <div class="form-group">
                  <label for="placeOfProduction">Termőhely kiválasztása</label>
                  <select formControlName="placeOfProduction" id="placeOfProduction" class="form-select">
                    <option *ngFor="let soilType of soilTypes" [value]="soilType">{{ soilType }}</option>
                  </select>
                </div>
                <div class="row">
                  <div class="my-2">Talaj tápanyag ellátottság</div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nitrogen">Nitrogén</label>
                      <select formControlName="nitrogen" id="nitrogen" class="form-select">
                        <option *ngFor="let supply of nutrientSupply" [value]="supply">{{ supply }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="phosphor">Foszfor</label>
                      <select formControlName="phosphor" id="phosphor" class="form-select">
                        <option *ngFor="let supply of nutrientSupply" [value]="supply">{{ supply }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="potassium">Kálium</label>
                      <select formControlName="potassium" id="potassium" class="form-select">
                        <option *ngFor="let supply of nutrientSupply" [value]="supply">{{ supply }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="my-2">Kalkulált hatóanyag mennyiségek</div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Nitrogén</label>
                      <input [value]="nitrogenResult" placeholder="-" readonly type="text" required class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Foszfor</label>
                      <input [value]="phosphorResult" placeholder="-" readonly type="text" required class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Kálium</label>
                      <input [value]="potassiumResult" placeholder="-" readonly type="text" required class="form-control">
                    </div>
                  </div>
                </div>
                <h3 class="mt-4 mb-2">Korrekciók alkalmazása</h3>
                <div class="form-group">
                  <label for="preCropPlant">Elővetemény növény</label>
                  <select formControlName="preCropPlant" id="preCropPlant" class="form-select">
                    <option *ngFor="let value of correctionValues" [value]="value.plant">{{ value.plant }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="preCropYield">Elővetemény hozama</label>
                  <input formControlName="preCropYield" id="preCropYield" (blur)="checkPreCropYieldValue()" type="text" required class="form-control">
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input formControlName="preCropStemIncorporation" class="form-check-input" style="width: 20px; height: 20px" type="checkbox" value="" id="preCropStemIncorporation">
                    <label for="preCropStemIncorporation" class="form-check-label" style="margin-left: 10px; margin-top: 4px">
                      Elővetemény szárbedolgozása
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input formControlName="nitrateSensitiveBlock" class="form-check-input" style="width: 20px; height: 20px" type="checkbox" value="" id="nitrateSensitiveBlock">
                    <label for="nitrateSensitiveBlock" class="form-check-label" style="margin-left: 10px; margin-top: 4px">
                      Nitrátérzékeny blokk
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input formControlName="irrigatedArea" class="form-check-input" style="width: 20px; height: 20px" type="checkbox" value="" id="irrigatedArea">
                    <label for="irrigatedArea" class="form-check-label" style="margin-left: 10px; margin-top: 4px">
                      Öntözött terület
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="my-2">Korrigált hatóanyag mennyiségek</div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Nitrogén</label>
                      <input [value]="nitrogenCorrectedResult" placeholder="-" readonly type="text" required class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Foszfor</label>
                      <input [value]="phosphorCorrectedResult" placeholder="-" readonly type="text" required class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Kálium</label>
                      <input [value]="potassiumCorrectedResult" placeholder="-" readonly type="text" required class="form-control">
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm w-50 mt-4">Riport generálása</button>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

